@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Pacifico&display=swap');

:root{
    --wine:rgb(247, 10, 61);
    --dark:rgb(6, 24, 34);
    --darker:rgb(2, 9, 12);
    --white: whitesmoke;
    --pure: white;
    --gray:rgb(162, 167, 170);
    --gray-light:rgb(236, 239, 240);
    --gray-dark:gray;
    --blue:#75c0e0;
    --blue-royal:#194a8d;
    --yellow:#fecf6a;

    --shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    --shadow-sm: 0 .125rem .25rem rgba(0,0,0,.075)!important;;

    --happy-monkey: 'Happy Monkey', cursive;
    --great-vibes: 'Great Vibes', cursive;
}



/********************************
        Elements
********************************/

* {
    box-sizing: border-box;
}


body {
    margin:0;
    background-color: var(--white);
    line-height:1.3;
    color:#404040;
}

section {
    margin:0;
    padding:2rem;
    background-color: var(--gray-light);
}

/****************************************
*************** Utilities ***************
*****************************************/

/* -------- [ Padding ] ------- */

.p-0 { padding: 0 !important;}
.p-1 { padding:1rem !important;}
.p-2 { padding:2rem !important;}
.p-3 { padding:3rem !important;}
.p-4 { padding:4rem !important;}

.pt-0 { padding-top:0 !important; }
.pt-1 { padding-top:1rem !important;}
.pt-2 { padding-top:2rem !important;}
.pt-3 { padding-top:3rem !important;}
.pt-4 { padding-top:4rem !important;}

.pb-0 { padding-bottom: 0 !important;}
.pb-1 { padding-bottom:1rem !important;}
.pb-2 { padding-bottom:2rem !important;}
.pb-3 { padding-bottom:3rem !important;}
.pb-4 { padding-bottom:4rem !important;}

.pr-0 { padding-right:0 !important; }
.pr-1 { padding-right:1rem !important;}
.pr-2 { padding-right:2rem !important;}
.pr-3 { padding-right:3rem !important;}
.pr-4 { padding-right:4rem !important;}

.pl-0 { padding-left:0 !important; }
.pl-1 { padding-left:1rem !important;}
.pl-2 { padding-left:2rem !important;}
.pl-3 { padding-left:3rem !important;}
.pl-4 { padding-left:4rem !important;}

/* -------- [ Margin ] ------- */

.m-0 { margin:0 !important; }
.m-1 { margin:1rem !important;}
.m-2 { margin:2rem !important;}
.m-3 { margin:3rem !important;}
.m-4 { margin:4rem !important;}

.mt-0 { margin-top:0 !important; }
.mt-1 { margin-top:1rem !important; }
.mt-2 { margin-top:2rem !important; }
.mt-3 { margin-top:3rem !important; }
.mt-4 { margin-top:4rem !important; }

.mb-0 { margin-bottom:0 !important; }
.mb-1 { margin-bottom:1rem !important; }
.mb-2 { margin-bottom:2rem !important; }
.mb-3 { margin-bottom:3rem !important; }
.mb-4 { margin-bottom:4rem !important; }

.mr-0 { margin-right:0 !important; }
.mr-1 { margin-right:1rem !important; }
.mr-2 { margin-right:2rem !important; }
.mr-3 { margin-right:3rem !important; }
.mr-4 { margin-right:4rem !important; }

.ml-0 { margin-left:0 !important; }
.ml-1 { margin-left:1rem !important; }
.ml-2 { margin-left:2rem !important; }
.ml-3 { margin-left:3rem !important; }
.ml-4 { margin-left:4rem !important; }

.mx-auto { margin: 0 auto !important; }

/* -------- [ Display ] ------- */

.d-flex { display:flex;}
.d-block { display:block; }
.d-inline { display:inline; }
.d-inline-block { display:inline-block;}

.flex-column { flex-direction: column;}

.justify-center { justify-content:center; }
.justify-between { justify-content: space-between;}
.justify-space-around { justify-content: space-around;}
.align-items-center { align-items: center; }

/* -------- [ Text ] ------- */

.text-white { color:white; }
.text-dark { color: var(--dark); }
.text-wine { color:var(--wine); }
.text-blue { color: var(--blue); }
.text-gray { color: whitesmoke;}
.text-muted { color: var(--gray-dark);}
.text-yellow { color: var(--yellow); }
.text-orange { color: orange; }
.text-blue-royal { color: var(--blue-royal)}

.text-center { text-align: center; }
.text-justify { text-align: justify; }
.text-left { text-align: left;}
.text-right { text-align: right;}

.text-italic { font-style: italic; }
.text-capitalize { text-transform: capitalize; }
.text-lowercase { text-transform: lowercase; }
.text-uppercase { text-transform: uppercase; }
.text-shadow {text-shadow: 0px 0px 3px black;}

.fw-bolder { font-weight: 900; }
.fw-bold { font-weight: 600; }
.fw-normal { font-weight: normal; }




/* -------- [ Background ] ------- */

.bg-dark { background: var(--dark); }
.bg-wine { background: var(--wine); }
.bg-orange { background: orange; }
.bg-gray { background: var(--gray); }
.bg-white { background: var(--white);}
.bg-pure { background:var(--pure);}
.bg-gray-light { background:var(--gray-light)}
.bg-yellow { background: var(--yellow)}
.bg-blue-royal { background:var(--blue-royal); }
.bg-blue {background:var(--blue); }

/* -------- [ Rows & Columns ] ------- */

.row {  display: flex; flex-wrap: wrap; }
.col-1 { width: 10%; }
.col-2 { width: 20%; }
.col-3 { width: 30%; }
.col-4 { width: 40%; }
.col-5 { width: 50%; }
.col-6 { width: 60%; }
.col-7 { width: 70%; }
.col-8 { width: 80%; }
.col-9 { width: 90%; }
.col-10 { width: 100%; }

@media( max-width:800px){
    .col-1 { width:100% !important; }
    .col-2 { width:100% !important; }
    .col-3 { width:100% !important; }
    .col-4 { width:100% !important; }
    .col-5 { width:100% !important; }
    .col-6 { width:100% !important; }
    .col-7 { width:100% !important; }
    .col-8 { width:100% !important; }
    .col-9 { width:100% !important; }
    .col-10 { width:100% !important; }
}

/* -------- [ Borders ] ------- */

.rounded {  border-radius:5px;}
.rounded-top { border-top-left-radius: 5px; border-top-right-radius: 5px;}
.rounded-bottom { border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}
.rounded-left { border-top-left-radius: 5px; border-bottom-left-radius: 5px;}
.rounded-right { border-top-right-radius: 5px; border-bottom-right-radius: 5px;}
.rounded-pill { border-radius: 50px ;}
.rounded-circle { border-radius: 50%; }

.border-0 { border: none;}
.border-1 { border: solid 1rem; }
.border-bottom { border-bottom: solid 0.5rem white; }
.border-bottom-1 { border-bottom: solid 1rem; }

/* -------- [ Pointer ] ------- */

.pointer { cursor:pointer; }

/* -------- [ Shadow ] ------- */

.shadow { box-shadow: var(--shadow);}
.shadow-sm { box-shadow: var(--shadow-sm); }

/* -------- [ Height ] ------- */

.h-min-10vh { min-height:10vh; }
.h-min-20vh { min-height:20vh; }
.h-min-30vh { min-height:30vh; }
.h-min-40vh { min-height:40vh; }
.h-min-50vh { min-height:50vh; }
.h-min-60vh { min-height:60vh; }
.h-min-70vh { min-height:70vh; }
.h-min-80vh { min-height:80vh; }
.h-min-90vh { min-height:90vh; }
.h-min-100vh { min-height:100vh; }

.h-max-10vh { max-height:10vh; }
.h-max-20vh { max-height:20vh; }
.h-max-30vh { max-height:30vh; }
.h-max-40vh { max-height:40vh; }
.h-max-50vh { max-height:50vh; }
.h-max-60vh { max-height:60vh; }
.h-max-70vh { max-height:70vh; }
.h-max-80vh { max-height:80vh; }
.h-max-90vh { max-height:90vh; }
.h-max-100vh { max-height:100vh; }

.h-10vh { height:10vh; }
.h-20vh { height:20vh; }
.h-30vh { height:30vh; }
.h-40vh { height:40vh; }
.h-50vh { height:50vh; }
.h-60vh { height:60vh; }
.h-70vh { height:70vh; }
.h-80vh { height:80vh; }
.h-90vh { height:90vh; }
.h-100vh { height:100vh;}

.h-100 { height: 100%; }
.w-100 { width: 100%; }

/****************************************
*************** Components ***************
*****************************************/

.container {
    width: 80%;
    margin: 0 auto;
}

.row { width: 100%; }

.aqua-theme {
    background-color:gray;
    background-image: url('images/acuatico.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.aqua-theme-img {
    height: 100%;
    width:  100%;
    object-fit: cover;
    opacity:0.8;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.mask {
    height:100%;
    width:100%;
    background-color: rgba(0,0,0, 0.5);
    padding:1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aqua-title {
    font-family:'Happy Monkey', cursive;
}

.aqua-title-cursive {
    font-family: 'Pacifico', cursive;
    font-size: 6rem;
    font-weight: bolder;
    color: var(--blue);
    line-height: 1;
    margin:1rem 0;
}

.aqua-paragraph {
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--yellow);
}

.round {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title { font-size: 2.5rem; margin:0; }

.relative { position:relative;}

.f-monkey { font-family: 'Happy Monkey', cursive; }
.f-pacifico { font-family: 'Pacifico', cursive; }

input {
    border-radius: 5px;
    border: solid 0.5px var(--blue);
    padding: 0.7rem;
    margin:0.5rem 0;
    font-size: 1.2rem;  
    width: 80%;
    text-align: center;
    color:var(--blue);
    background: #f8fcfd;
}

input::placeholder {
    color: #82c5e2;
    opacity:0.8;
}

input:focus::placeholder {
    color:var(--yellow);
}

input:focus {
    outline-color: var(--yellow);
    color:var(--yellow);
}

input:first-of-type{
    text-transform: capitalize;
}

button {
    border:none;
    border-radius: 5px;
    padding: 0.7rem;
    margin:0.5rem 0;
    font-size: 1.2rem;
    width: 80%;
    text-align: center;
    cursor:pointer;
    color:white;
    background: linear-gradient(to right,  #58b2d9, #2f9fcf,#257fa6);
}

button:focus, button:hover {  opacity:0.8; }


.text-logo {
    color: white;
    line-height: 0.6;
    margin-top: 4rem;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.text-logo span { color: var(--yellow);}

p { font-size: 0.8rem; }

small { font-size:0.69rem; }


.bg-radient {
    background: linear-gradient(to right,  white, var(--blue), #2f9fcf, #257fa6);
}

footer.footer {
    border-top-right-radius: 50%;
    width:100%;
    padding:2rem;
    border-top: solid 10px var(--gray-light);
    background: linear-gradient(to left,  #58b2d9, #2f9fcf,#257fa6);
}

.card {
    height: 80vh;
    border-radius: 5px;
    box-shadow: var(--shadow);
}


@media screen and (max-width: 1050px ){

    h1 { font-size:1.3rem;}
    h2 { font-size: 1.3rem; }
    input, button { font-size: 0.8rem; padding:0.5rem;  }

    .title { font-size:2rem; }

    .aqua-title-cursive { font-size: 3.5rem; }
    .aqua-paragraph { font-size: 1rem; }

    .aqua-theme, .mask {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0px;
    }

    .round {
        border-top-right-radius: 0;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

}

@media screen and (max-width: 800px ){

    footer.footer {  padding: 2.5rem; }

    .container { width: 100%;}

    .aqua-theme, .aqua-theme-img, .mask, .round { 
        border-radius: 0px; 
    }

    .card { 
        height:100vh; 
        border-radius: 0px;
    }

}